@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --colour-primary: #283618;
    --colour-neutral: #FEFAE0;
    --colour-neutral-alpha: hwb(52 88% 0% / 0.95);
    --max-width: 88.5rem;
    --h1: 11.391rem;
    --h2: max(1rem, 7.594cqi);
    --h6: max(1rem, 1.5cqi);
    --gutter-vertical: 2rem;
    --gutter-horizontal: 1rem;
    --font-family-primary: "Lora", serif;
    --font-family-secondary: "Montserrat", sans-serif;

    /* Global transition values */
    --td: 150ms;
    --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Lora", serif;
    background: url(./img/keyboard.png), var(--colour-neutral);
    overflow-x: hidden;
    background-position: center;
}

h2 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: var(--h2);
    max-width: var(--max-width);
    margin: 0 auto;
}

h6 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: var(--h6);
}

.link {
    text-decoration: underline; 
    text-decoration-thickness: .07rem;  
    text-underline-offset: 0.2rem; 
    font-size: 1rem;
}

.bullet {
    width: 1rem;
    height: 1rem;   
}

p {
    line-height: 1.5;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--colour-primary); 
}

/* HEADER */

.header {
    pointer-events: none;
}

.header__logo,
.nav__label,
.header__nav {
    pointer-events: auto;
}

.header__logo {
    background-color: transparent;
}

.header__logo-text {
    text-decoration: none;
    font-weight: bold;
    color: var(--colour-neutral);
    width: 100%;
}

@media (min-width: 64.0625rem) {
    [id="main-navigation-toggle"] {
        opacity: 0;
        position: fixed;
        top: -100%;
    }

    .header {
        background-color: transparent;
        font-family: var(--font-family-secondary);
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 10; 
        mix-blend-mode: difference;
        max-width: var(--max-width);
        margin: 0 auto;
    }

    .header__nav {
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .header__nav-list {
        list-style: none;
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .header__nav-item:not(:last-of-type) {
        margin-right: 2.5rem;
        background-color: transparent;
    }

    .header__nav-item:hover {
        text-decoration: underline;
        text-decoration-thickness: .1rem; 
        text-decoration-color: var(--colour-neutral); 
        text-underline-offset: 0.2rem; 
    }


    .header__nav-link {
        text-decoration: none;
        color: var(--colour-neutral);
        font-weight: bold;
    }
}

/* HERO */

.main {
    width: 100%;
}

.hero {
    position: relative;
    max-width: var(--max-width);
    height: 100vh;
    margin: 0 auto;
}

.hero__title {
    font-family: "Montserrat", sans-serif;
    font-size: max(2rem, 11.391cqi);
    font-weight: 900;
    color: var(--colour-primary);
    line-height: max(1rem, 9cqi);
    position: absolute;
    left: 0;
    bottom: 4rem;
}

.hero__title--italic {
    font-style: italic;
}

.hero__bullet {
    position: absolute;
    right: max(5rem, 39cqi);
    top: 12.25rem; 
    /* 
    text line-height is 1.5rem 
    font-size is 1rem, 
    text is centred vertically in the line-height
    so .25rem is the top and bottom text-spacing in the text box 
    thus bullet should be +.25rem
    */
    background-color: var(--colour-primary);
}

.hero__description {
    position: absolute;
    right: 0;
    top: 12rem;
    width: max(5rem, 38cqi);
}

.hero__link:link,
.hero__link:visited {
    color: var(--colour-primary);
}

/* GRID */

.grid {
    margin: var(--gutter-vertical) auto;
}

.row {
    width: 100%;
    margin: 0 auto;
}

/* clear fix */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.row:not(:last-child) {
    margin-bottom: var(--gutter-vertical);
}

.col-1-of-2 {
    width: calc((100% - var(--gutter-horizontal))/2);
    float: left;
    position: relative;
}

.col-1-of-2:not(:last-child) {
    margin-right: var(--gutter-horizontal);
}

.col-1-of-3 {
    width: calc((100% - 2 * var(--gutter-horizontal))/3);
    float: left;
    position: relative;
}

.col-2-of-3 {
    width: calc(2 * ((100% - 2 * var(--gutter-horizontal)) / 3));
    float: left;
    position: relative;
}

.col-1-of-3:not(:last-child) {
    margin-right: var(--gutter-horizontal);
}

.col-2-of-3:not(:last-child) {
    margin-right: var(--gutter-horizontal);
}

/* PROJECTS */

.projects {
    width: 100%;
    background-color: var(--colour-primary);
    padding: 6rem 0;
    padding: 5rem 1rem;
}

.projects__title {
    color: var(--colour-neutral);
    letter-spacing: max(1rem, 6.5cqi);
    margin-bottom: 1rem;
}

.project {
    max-width: var(--max-width);
    margin: 0 auto;
}

.project__image {
    height: 38rem;
    background: url(./img/placeholder.jpg);
    background-position: center;
    background-size: cover;
}

.project__description {
    height: 38rem;
}

.project__bullet {
    background-color: var(--colour-neutral);
    bottom: 3.25rem;
    position: absolute;
}

.project__title {   
    color: var(--colour-neutral);
    position: absolute;
    left: 2rem;
    bottom: 3rem;
}

.project__link {
    color: var(--colour-neutral);
    position: absolute;
    bottom: 0rem;
}

/* ABOUT */

.about {
    width: 100%;
    padding: 3rem 0;
    background-color: var(--colour-neutral-alpha);
}

.about__title {
    color: var(--colour-primary);
    letter-spacing: max(1rem, 4.6cqi);
}

.about__content {
    max-width: var(--max-width);
}

.about__image {
    width: 15rem;
    height: 18rem;
    background: url(./img/nigel.jpg);
    background-position: center;
    background-size: cover;
}

.about__tldr {
    margin: 2rem 0;
}

.about__bullet {
    background-color: var(--colour-primary);
    display: inline-block;
    margin-right: 1rem;
}

.about__senary-title {
    display: inline-block;
}

/* FOOTER */

.footer {
    width: 100%;
    background-color: var(--colour-primary);
    color: var(--colour-neutral);
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer__contact-info {
    max-width: var(--max-width);
    margin: 0 auto;
}


.footer__contact-info p {
    margin-bottom: 1rem;
}

.footer__link {
    color: var(--colour-neutral);
}

.footer__title {
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
    letter-spacing: max(1rem, 2.7cqi);
    margin-bottom: 2rem;
}

.footer__copyright {
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 64rem) {
    .header {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: transparent;
    }

    .header__logo {
        cursor: pointer;
        position: fixed;
        left: 1rem;
        top: 1rem;
        z-index: 100;
        mix-blend-mode: difference;
        z-index: 98;
    }
    
    /* NAVIGATION TOGGLE */
    [id="main-navigation-toggle"] {
        opacity: 0;
        position: fixed;
        top: -100%;
    }

    [id="main-navigation-toggle"] ~ .nav__label {
        cursor: pointer;
        position: fixed;
        right: 1rem;
        top: 1rem;
        z-index: 100;
        mix-blend-mode: difference;
    }

    .nav__label span {
        display: block;
        height: 1rem;
        width: 3rem;
        padding: 0.5rem;
        position: relative;
        transition: transform calc(var(--td) * 3) var(--te);
    }

    .nav__label span::before,
    .nav__label span::after {
        content: '';
        background-color: var(--colour-neutral);
        height: .2rem;
        width: 3rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform calc(var(--td) * 3) var(--te);
    }

    .nav__label span::before {
        transform: rotate(0) translateY(-100%)
    }

    .nav__label span::after {
        transform: rotate(0) translateY(100%)
    }

    /* NAVIGATION TOGGLE CHECKED*/

    [id="main-navigation-toggle"]:checked ~ .nav__label span {
        transform: rotate(1turn);
    }
    
    [id="main-navigation-toggle"]:checked ~ .nav__label span::before {
        transform: rotate(45deg);
    }
    
    [id="main-navigation-toggle"]:checked ~ .nav__label span::after {
        transform: rotate(-45deg);
    }

    [id="main-navigation-toggle"]:checked ~ .header .header__nav {
        left: 0;
        transition: transform 0s;
    }

    [id="main-navigation-toggle"]:checked ~ .header .header__nav::before,
    [id="main-navigation-toggle"]:checked ~ .header .header__nav::after {
        transform: translateX(0);
        transition-delay: 0s;
    }

    [id="main-navigation-toggle"]:checked ~ .header .header__nav::after {
        transition-delay: calc(var(--td) / 2);
    }

    [id="main-navigation-toggle"]:checked ~ .header .header__nav .header__nav-item {
        opacity: 1;
        transform: translateX(0);
        transition: 
        opacity calc(var(--td) * 2) var(--te),
        transform calc(var(--td) * 2) var(--te);
    }

    .header__nav-item:nth-child(1) {
        transition-delay: calc(var(--td) * 2 * (1 * 0.25));
        z-index: -1;
    }

    .header__nav-item:nth-child(2) {
        transition-delay: calc(var(--td) * 2 * (2 * 0.25));
        z-index: -2;
    }

    .header__nav-item:nth-child(3) {
        transition-delay: calc(var(--td) * 2 * (3 * 0.25));
        z-index: -3;
    }

    .header__nav-item:nth-child(4) {
        transition-delay: calc(var(--td) * 2 * (4 * 0.25));
        z-index: -4;
    }

    /* HEADER NAV LIST */
    .header__nav-list {
        position: relative;
        text-align: center;
        z-index: 1;
    }

    .header__nav-list > .header__nav-item {
        font-family: var(--font-family-secondary);
        font-size: 10vmin;
    }

    .header__nav-item {
        display: block;
        position: relative;
    }

    .header__nav-item:hover .header__nav-link::before,
    .header__nav-item:hover .header__nav-link::after {
        animation: blink 1s var(--td) steps(1, end) forwards infinite;
        transform: translateX(calc(100% - 0.5rem));
        transition-duration: calc(var(--td) * 3);
    }
        
    .header__nav-item:hover .header__nav-link::after {
        transition-delay: calc(var(--td) / 2);
    }

    /* HEADER NAV */
    .header__nav {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: fixed;
        left: -100%;
        transition: 
          left 0s calc(var(--td) * 2),
          transform 0s calc(var(--td) * 2);
    }
        
    .header__nav::before,
    .header__nav::after {
        content: '';
        background-color: var(--colour-primary);
        height: 50%;
        left: 0;
        position: absolute;
        transform: translateX(-110%);
        transform-origin: 0 50%;
        transition: transform calc(var(--td) * 2) var(--td) var(--te);
        width: 100%;
        z-index: -100;
    }
        
    .header__nav::before {
        top: 0;
    }
        
    .header__nav::after {
        bottom: 0;
    }
        
    .header__nav-item {
        opacity: 0;
        transform: translateX(-1rem);
        transition: 
        opacity var(--td) var(--te),
        transform var(--td) var(--te);
    }

    /* HEADER NAV */

    .header__nav {
        position: relative;
        text-align: center;
        z-index: 1;
    }

    .header__nav-item {
          font-family: var(--font-family-secondary);
          font-size: 10vmin;
    }

    /* HEADER LINK */

    .header__nav-link {
        color: var(--colour-neutral);
        display: inline-block;
        font-weight: 900;
        overflow: hidden;
        padding: 0.5rem 1rem 0.125rem;
        position: relative;
        text-decoration: none;
        transition: 
          color var(--td) var(--te),
          opacity var(--td) var(--te),
          transform var(--td) var(--te);
        z-index: 1;
    } 
        
    .header__nav-link::before,
    .header__nav-link::after {
        content: '';
        background-color: var(--colour-neutral);
        height: 50%;
        left: 0;
        position: absolute;
        transform: translateX(-110%);
        transform-origin: 0 50%;
        transition: transform 0s var(--te);
        width: 100%;
        z-index: -1;
    }
        
    .header__nav-link::before {
        top: 0;
    }
        
    .header__nav-link::after {
        bottom: 0;
    } 

    /* NAV HOVER SYTLE */
    .header__nav-list:not(:focus-within):not(:hover) .header__nav-link { 
          opacity: 1;
          transform: translate(0, 0);
    }
      
    .header__nav-item {
        --pull: 30%;
    }
        
    .header__nav-link {
        opacity: 0.25;
        transition-duration: calc(var(--td) * 3);
        transform: translate(0, calc(var(--pull) * -1));
    }

    .header__nav-item:hover > .header__nav-link {
        color: var(--colour-neutral);
        opacity: 1;
        transform: translate(0, 0);
    }
          
    .header__nav-link:hover {
        color: var(--colour-neutral);
        transition-delay: 0s;
    }
        
    .header__nav-item:hover ~ .header__nav-item > .header__nav-link {
        transition-duration: calc(var(--td) * 3);
        transform: translate(0, var(--pull));
    }

    /* ANIAMTIONS */
      
    @keyframes blink {
        50%, 100% { opacity: 0 }
    }


    .col-1-of-2 {
        width: 100%;
    }

    .project__image {
        width: 15rem;
        height: 18rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .project__description {
        height: 6rem;
    }

    .project__bullet {
        background-color: var(--colour-neutral);
        bottom: 3.25rem;
        position: absolute;
    }
    
    .project__title {   
        color: var(--colour-neutral);
        position: absolute;
        left: 2rem;
        bottom: 2rem;
    }

    .about__image {
        margin: 0 auto;
    }
    
    .hero__description {
        position: absolute;
        right: 0;
        top: 12rem;
        width: 20rem;
    }

    .hero__bullet {
        position: absolute;
        display: none; 
        background-color: var(--colour-primary); 
    } 
}

@media screen and (min-width: 521px) and (max-width: 1024px) {
    .project__bullet {
        bottom: 2.25rem;
    }
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

@media (max-width: 89.5rem) {
    .header__logo {
        margin-left: 1rem;
    }

    .header__nav-list {
        margin-right: 1rem;
    }

    .hero__title {
        left: 1rem;
    }

    .hero__description {
        right: 1rem;
    }

    .hero__bullet {
        right: max(5rem, 40cqi);
    }

    .project__link {
        margin-left: 2rem;
    }

    .about {
        padding: 3rem 1rem ;
    }
}

@media (max-width: 650px) {
    .col-1-of-3 {
        width: 100%;
        display: block;
    }

    .col-2-of-3 {
        width: 100%;
        display: block;
    }

    .footer__contact-info p {
        width: 100%;
        text-align: center;
    }

    .about__senary-title {
        margin-bottom: 1rem;
    }
}